mat-card {
    max-width: 500px;
    max-height: 500px;
    height: 300px;
    margin: 2em auto;
    text-align: center;
    background-color: rgb(30, 79, 153);
}

.titulo{
    color: aliceblue;
}

mat-form-field {
    display: block;
}

/* ::ng-deep .mat-form-field {
    .mat-input-element {
        color: slategray;
    }
    .mat-form-field-label {
        color: slategray;
    }
    .mat-form-field-underline {
        background-color: slategray;
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: slategray;
    }
} */

::ng-deep .mat-form-field .mat-form-field-label {
    color: white;
    font-size: 15px;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
    font-size: 20px;
}
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
} 
  
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
}

::ng-deep .mat-form-field-required-marker {
    color: white;
}