<html>
	<head>
		<title>
			Caf́e Ejemplo - cafe comunitario de Rosario, Santa Fe, Argentina
		</title>
	</head>
	<body>
    <table>
        
                <h1 id="titulo">
		        <span> <p style="color:#FFFFFF">Componentes del Reproductor</p> </span>   
                </h1>           

    <table>    
	<tr>
		<td>
		   <!-- <imagen> </imagen> -->
           <h2><p style="color:#FFFFFF">Pausa/Reanudar</p></h2>
		   <h5><p style="color:#FFFFFF">Pausa o reanuda la canción en reproducción</p></h5>
        </td>

		<td>
		     <!-- <imagen> </imagen> -->
		    <h2><p style="color:#FFFFFF"> Parar </p></h2>
		    <h5><p style="color:#FFFFFF">Reinicia y pausa la canción en reproducción</p></h5>
		</td>
 
		<td>
		   <!-- <imagen> </imagen> -->
           <h2><p style="color:#FFFFFF"> Siguiente </p></h2>
           <h5><p style="color:#FFFFFF">Pasa a la siguiente canción de la lista</p></h5>
		</td>
	</tr>

	<tr>
		<td>
 		     <!-- <imagen> </imagen> -->
            <h2><p style="color:#FFFFFF"> Anterior </p></h2>
            <h5><p style="color:#FFFFFF">Pasa a la anterior canción de la lista</p></h5>
		</td>

		<td>
		     <!-- <imagen> </imagen> -->
            <h2><p style="color:#FFFFFF"> Volumen </p></h2>
            <h5><p style="color:#FFFFFF">Controla el volumen de la canción</p></h5>
		</td> 
	</tr>

	<tr>
	    <td>
		  <!-- <imagen> </imagen> -->
         <h2><p style="color:#FFFFFF"> Agregar canción </p></h2>
         <h5><p style="color:#FFFFFF">Pasos para agregar una canción</p>></h5>

		 <ol>
		     <li style="color:#FFFFFF"> paso 1 </li>
		     <li style="color:#FFFFFF"> paso 2 </li>
             <li style="color:#FFFFFF"> paso 3 </li>
             <li style="color:#FFFFFF"> paso 4 </li>
             <li style="color:#FFFFFF"> paso 5 </li>
		 </ol>
	    </td>
	</tr>	
</table>
    </table>

<!-- AGREGAR REFERENCIA A REPRODUCTOR "TOQUE AQUI PARA USAR EL REPRODUCTOR"-->
<!-- AGREGAR REFERENCIA EN REPRODUCTOR "DESCRIPCIÓN DE BOTONES Y FUNCIONES DEL REPRODUCTOR"--->    
</body>
</html>