<h1 id="titulo">
	<span> <p class="titulo-principal">Componentes del Reproductor</p> </span>   
</h1>           

<div fxLayout="row" class="tarjetas">
	<div class="container">
		<mat-card class="play">
			<h1 class="titulo">Pausa/Reanudar</h1>
			<button mat-fab (click)="changeState()" class="control">
				<mat-icon *ngIf="!playing">play_arrow</mat-icon>
				<mat-icon *ngIf="playing">pause</mat-icon>
			</button>
			<mat-card-content>
				<p class="descripcion">{{titulo}}</p>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="container">
	<mat-card class="stop">
		<h1 class="titulo">Stop</h1>
		<button mat-fab class="control">
			<mat-icon>stop</mat-icon>
		</button>
		<mat-card-content>
			<p class="descripcion">Reinicia y pausa la canción en reproducción</p>
		</mat-card-content>
	</mat-card>
	</div>

	<div class="container">
	<mat-card class="next">
		<h1 class="titulo">Next</h1>
		<button mat-fab class="control">
			<mat-icon>skip_next</mat-icon>
		</button>
		<mat-card-content>
			<p class="descripcion">Pasa a la siguiente canción</p>
		</mat-card-content>
	</mat-card>
	</div>
	<div class="container">
		<mat-card class="previous">
			<h1 class="titulo">Previous</h1>
			<button mat-fab class="control">
				<mat-icon>skip_previous</mat-icon>
				</button>
			<mat-card-content>
				<p class="descripcion">Pasa a la anterior canción</p>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="container">
		<mat-card class="volume">
			<h1 class="titulo">Volume</h1>
			<div class="volume-div">
				<mat-slider max="1" step="0.01" value="0.50" class="volumeslider"></mat-slider>
			</div>
			<mat-card-content>
				<p class="descripcion">Sube o baja el volumen del reproductor</p>
			</mat-card-content>
		</mat-card>
	</div>
	
</div>
<div class="titulo-principal">
	<button mat-fab (click)="goBack()" class="control">
		<mat-icon>arrow_back_ios</mat-icon>
	</button>
</div>