
<h1 id="titulo">
	<span> <p>Componentes del Reproductor</p> </span>   
</h1>           

<div fxLayout="row" class="tarjetas">

<div class="container">
    <mat-card class="play">
        <!-- <mat-card-header>
            <mat-card-title class="titulo">
                <h1 style="text-align: center; font-size: 20px;">Pausa/Reanudar</h1>
            </mat-card-title>
        </mat-card-header> -->

        <h1 class="titulo">Pausa/Reanudar</h1>

        <img mat-card-image src="Pausa/Reanudar.png">

        <mat-card-content>
            <p>Pausa o reanuda la canción en reproducción</p>
        </mat-card-content>
    </mat-card>
</div>

<div class="container">
<mat-card class="stop">

    <h1 class="titulo">Stop</h1>

	<img mat-card-image src="Parar.png">

	<mat-card-content>
        <p>Reinicia y pausa la canción en reproducción</p>
	</mat-card-content>
</mat-card>
</div>

<div class="container">
<mat-card class="next">
    <h1 class="titulo">Next</h1>

	<!-- <img mat-card-image src="Siguiente.png">
     -->

    <button mat-fab class="control">
        <mat-icon>skip_next</mat-icon>
    </button>

	<mat-card-content>
	    <p>Pasa a la siguiente canción</p>
	</mat-card-content>
</mat-card>
</div>


<div class="container">
<mat-card class="previous">
	<h1 class="titulo">Previous</h1>

	<img mat-card-image src="anterior.png">

	<mat-card-content>
        <p>Pasa a la anterior canción</p>
	</mat-card-content>
</mat-card>

</div>

    
<div class="container">
<mat-card class="volume">
	<h1 class="titulo">Volume</h1>

	<img mat-card-image src="Volumen.png">

	<mat-card-content>
			  <p>Sube o baja el volumen del reproductor</p>
	</mat-card-content>
</mat-card>

</div>

</div>
	<!--
	    <td>
		   <imagen> </imagen> 
         <h2><p > Agregar canción </p></h2>
         <h5><p >Pasos para agregar una canción</p>></h5>

		 <ol>
		     <li> paso 1 </li>
		     <li> paso 2 </li>
             <li> paso 3 </li>
             <li> paso 4 </li>
             <li> paso 5 </li>
		 </ol>
	    </td> 
	-->

<!-- AGREGAR REFERENCIA A REPRODUCTOR "TOQUE AQUI PARA USAR EL REPRODUCTOR"-->
<!-- AGREGAR REFERENCIA EN REPRODUCTOR "DESCRIPCIÓN DE BOTONES Y FUNCIONES DEL REPRODUCTOR"--->    

