<html>
	<head>
		<title>
			Caf́e Ejemplo - cafe comunitario de Rosario, Santa Fe, Argentina
		</title>
	</head>
	<body>
        <div class="fondoTitulo">
			<div id="cs">
                <h1 id="titulo">
		        <span> REPRODUCTOR WEB </span> 
                </h1>    
            </div>       
        </div>

    <table>    
    <tr >
        <td bgColor="#210667" >  
            <h1>
                <p style="color:#FFFFFF">Tutorial</p>
            </h1>
            <h3>
                <p style="color:#FFFFFF">como se usa la aplicación</p>
            </h3> 
            <h3>
                <p style="color:#FFFFFF"><a routerLink="/tutorial">Tutorial </a></p>
            </h3>   
        </td>

        <td bgColor="#B58EE1" > </td>

        <td bgColor="#210667">
            <h1>
                <p style="color:#FFFFFF">Reproductor</p>
            </h1>
            <h3>
                <p style="color:#FFFFFF">Empieza a escuchar tu música favorita</p>
            </h3> 
            <h3>
                <p style="color:#FFFFFF"> <!-- <a routerLink="/reproductor">Reproductor </a>--></p>
            </h3> 
        </td>
    </tr>    
        

    </table>
</body>
</html>