<!-- <div class="fondoTitulo">
	<div id="cs">
      <h1 id="titulo">
		    <span> REPRODUCTOR WEB </span> 
      </h1>    
  </div>       
</div> -->

<div fxLayout="row" class="principal-div">

  <mat-card class="tarjeta">
    <h1 class="titulo">Tutorial</h1>
    <mat-card-content class="contenido">
      <p>como se utiliza la aplicación</p>
    </mat-card-content>
      <mat-card-actions class="contenido">
        <button mat-raised-button (click)="goToTutorial()" class ="boton">Tutorial</button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="tarjeta">
    <h1 class="titulo">Reproductor</h1>
    <mat-card-content class="contenido">
      <p>Empieza a escuchar tu música</p>
    </mat-card-content>
    <mat-card-actions class="contenido">
      <button mat-raised-button (click)="goToPlayer()" class ="boton">Reproductor</button>
    </mat-card-actions>
  </mat-card>

</div>