<!-- formulario -->
<form class="example-form" #formulario>
  <mat-form-field class="example-full-width" appearance="fill" >
    <mat-label class="label">Buscar</mat-label>
    <input type="text" #barraBusqueda placeholder="Titulo" aria-label="Titulo" matInput [formControl]="searchbar" (input)="buscar()" [matAutocomplete]="canciones">
    <mat-autocomplete autoActiveFirstOption #canciones="matAutocomplete" (optionSelected)="emitir($event, barraBusqueda)">
      <mat-option *ngFor="let cancion of cancionesBuscadas" [value]="cancion['id']">
        {{cancion['rawTitulo'].split('.')[0]}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>