h1 {
    color: aliceblue;
    text-align: center;
    margin: 5px;
}

/* div {
    size: 500px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY02ArANLZ8Xa-7tT4TW4eyibph5Bb9pd_EA&usqp=CAU) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */